# Valid Palindrome

Given a string, determine if it is a palindrome, considering only alphanumeric characters and ignoring cases.

Note: For the purpose of this problem, we define empty string as valid palindrome.

Example 1:

Input: "A man, a plan, a canal: Panama"
Output: true
Example 2:

Input: "race a car"
Output: false

In [4]:
def isPalindrome(s):
    l=[i for i in list(s.lower()) if i.isalnum()]
    return l[::-1]==l

In [5]:
isPalindrome('A man,')

False

In [6]:
isPalindrome('A man, a plan, a canal: Panama')

True

# Merge Sorted Array
Given two sorted integer arrays nums1 and nums2, merge nums2 into nums1 as one sorted array.

Note:

The number of elements initialized in nums1 and nums2 are m and n respectively.
You may assume that nums1 has enough space (size that is greater or equal to m + n) to hold additional elements from nums2.
Example:

Input:
nums1 = [1,2,3,0,0,0], m = 3
nums2 = [2,5,6],       n = 3

Output: [1,2,2,3,5,6]

In [7]:
def merge(nums1,m,nums2,n):
        nums1[:]=sorted(nums1[:m]+nums2)

In [3]:
nums1 = [1,2,3,0,0,0]
m = 3 
nums2 = [2,5,6] 
n = 3
merge(nums1,m,nums2,n)
nums1

[1, 2, 2, 3, 5, 6]

In [6]:
nums1 = [1,2,3,0,0,0]
m = 3 
nums2 = [2,5] 
n = 3
merge(nums1,m,nums2,n)
nums1

[1, 2, 2, 3, 5]

# Add Binary

Given two binary strings, return their sum (also a binary string).

The input strings are both non-empty and contains only characters 1 or 0.

Example 1:

Input: a = "11", b = "1"
Output: "100"
Example 2:

Input: a = "1010", b = "1011"
Output: "10101"

In [9]:
    def addBinary(a, b):
        """
        :type a: str
        :type b: str
        :rtype: str
        """
        return bin(int(a,2)+int(b,2))[2:]

In [10]:
a = "11"
b = "1" 
addBinary(a, b)

'100'

In [11]:
a = "1010"
b = "1011" 
addBinary(a, b)

'10101'

## Add Strings

Given two non-negative integers num1 and num2 represented as string, return the sum of num1 and num2.

Note:

The length of both num1 and num2 is < 5100.
Both num1 and num2 contains only digits 0-9.
Both num1 and num2 does not contain any leading zero.
You must not use any built-in BigInteger library or convert the inputs to integer directly.

In [1]:
def addStrings(num1,num2):
        o=[]
        sm=num1 if len(num1)<=len(num2) else num2
        ln=num1 if len(num1)>len(num2) else num2
        sm=sm.zfill(len(ln))
        if len(num1)==len(num2):
            sm='0'+sm
            ln='0'+ln
        else:
            sm='0'+sm.zfill(len(ln))
            ln='0'+ln
        carry=0
        for i in range(len(sm)-1,-1,-1):
            o.append(str((int(sm[i])+int(ln[i])+carry)%10))
            if (int(sm[i])+int(ln[i])+carry)>=10:
                carry=1
            else:
                carry=0
        o.reverse()
        if ''.join(o)[0]=='0':
            return ''.join(o)[1:]
        else:
            return ''.join(o)

In [3]:
addStrings('0','0')

'0'

In [4]:
addStrings('9','0')

'9'

In [5]:
addStrings('9','9')

'18'

In [6]:
addStrings('1023','140')

'1163'

In [11]:
def valid_ip(ip):
    try:
        a=[i for i in ip.split('.') if int(i)>=0 and int(i)<=128]
    except:
        return False
    return ip.count('.')==3 and len(a)==4

In [8]:
def valid_ip1(ip):
    a=[]
    for i in ip.split('.'):
        if i.isnumneric():
            if int(i)>=0 and int(i)<=128:
                a.appned(i)
    #a=[i for i in ip.split('.') if int(i)>=0 and int(i)<=128]
    return ip.count('.')==3 and len(a)==4

In [12]:
valid_ip('120.2.3.40')

True

In [13]:
valid_ip('2.a.3.40')

False

In [35]:
s='Please enter a sentence'
def avg_sen(s):
    if len(s.split())==0:
        return None
    else:
        return sum([len(i) for i in s.split()])/len(s.split())

In [36]:
avg_sen('Please enter a sentence')

5.0

In [ ]:
avg_sen('    ')

In [13]:
def flatten(li):
    return sum(([x] if not isinstance(x, list) else flatten(x)
                for x in li), [])

In [14]:
flatten(['1','2',['2','3',['2','9']],'4'])

['1', '2', '2', '3', '2', '9', '4']

In [64]:
def frnd(items):
    d={}
    for i in items:
        if i[0] not in d.keys():
            d[i[0]]=1
        else:
            d[i[0]]+=1
    return d

In [66]:
stats=frnd([['A','B'],['A','C'],['B','D'],['B','C'],['R','M'], ['S'],['P'], ['A']])

In [69]:
max(stats, key=stats.get)

'A'

In [72]:
key, value = max(stats.items(), key=lambda x:x[1])

In [75]:
max(zip(stats.values(), stats.keys()))

(3, 'A')

In [89]:
def median(l):
    sorted(l)
    if len(l)%2==0:
        return l[(len(l)-1)//2]
    else:
        return (l[(len(l)-1)//2]+l[((len(l)-1)//2)+1])//2.0

In [90]:
median([1,1,3,4,5,1.2,5])

4.0

In [91]:
def hcf(x,y):
    while y!=0:
        x,y=y,x%y
    return x

In [92]:
hcf(2,10)

2

In [93]:
l=[1,2,4]
n=5
for i in l:
    if 5-i in l:
        print(i)

1
4

In [94]:
def countwords(l):
    d={}
    for i in l:
        if i not in d.keys():
            d[i]=l.count(i)
    return d

In [95]:
countwords(['apple','egg','apple','banana','egg','apple'])

{'apple': 3, 'egg': 2, 'banana': 1}

In [96]:
def uwords(l):
    c=0
    for i in l:
        if l.count(i)==1:
            c+=1
    return c

In [99]:
uwords(['a','b','c'])

3

In [100]:
a=2
b=10
o=[]
for i in range(2,10+1):
    for j in range(2,i):
        if i%j==0:
            break
    else:
            o.append(i)
o

[2, 3, 5, 7]

In [1]:
def ne(l):
    if l==[]:
        return []
    else:
        t=l[0]
        o=[]
    for i in l:
        if i is None:
            o.append(t)
        else:
            t=i
            o.append(i)
    return o

In [2]:
ne([None,8,None])

[None, 8, 8]

In [3]:
ne([None])

[None]

In [4]:
ne([])

[]

In [5]:
ne([None,2,3,None,None,4,None])

[None, 2, 3, 3, 3, 4, 4]

## Intersection of Two Arrays II

Given two arrays, write a function to compute their intersection.

Example 1:

Input: nums1 = [1,2,2,1], nums2 = [2,2]
Output: [2,2]
Example 2:

Input: nums1 = [4,9,5], nums2 = [9,4,9,8,4]
Output: [4,9]

In [6]:
def intersect(nums1, nums2):

        nums1, nums2 = sorted(nums1), sorted(nums2)
        pt1 = pt2 = 0
        res = []

        while True:
            try:
                if nums1[pt1] > nums2[pt2]:
                    pt2 += 1
                elif nums1[pt1] < nums2[pt2]:
                    pt1 += 1
                else:
                    res.append(nums1[pt1])
                    pt1 += 1
                    pt2 += 1
            except IndexError:
                break

        return res

In [7]:
nums1 = [1,2,2,1,4]
nums2 = [4,2,1]
intersect(nums1, nums2)

[1, 2, 4]

## Monotonic Array

An array is monotonic if it is either monotone increasing or monotone decreasing.

An array A is monotone increasing if for all i <= j, A[i] <= A[j].  An array A is monotone decreasing if for all i <= j, A[i] >= A[j].

Return true if and only if the given array A is monotonic.

 

Example 1:

Input: [1,2,2,3]
Output: true
Example 2:

Input: [6,5,4,4]
Output: true
Example 3:

Input: [1,3,2]
Output: false
Example 4:

Input: [1,2,4,5]
Output: true
Example 5:

Input: [1,1,1]
Output: true

In [9]:
def isMonotonic(A):
        return A==sorted(A) or A==sorted(A,reverse=True)

In [11]:
isMonotonic([1,2,2,3])

True

In [12]:
isMonotonic([6,5,4,4])

True

In [13]:
isMonotonic([5,6,3])

False

## Intersection of Two Arrays

Given two arrays, write a function to compute their intersection.

Example 1:

Input: nums1 = [1,2,2,1], nums2 = [2,2]
Output: [2]
Example 2:

Input: nums1 = [4,9,5], nums2 = [9,4,9,8,4]
Output: [9,4]

In [15]:
def intersection(nums1,nums2):
    s1=nums2 if len(nums1)>len(nums2) else nums1
    ll=nums1 if len(nums1)>len(nums2) else nums2
    return list(set([i for i in s1 if i in ll]))

In [16]:
intersection([1,2,2,1],[2,2])

[2]

In [17]:
intersection([4,9,5], [9,4,9,8,4])

[9, 4]

##  Single-Row Keyboard

There is a special keyboard with all keys in a single row.

Given a string keyboard of length 26 indicating the layout of the keyboard (indexed from 0 to 25), initially your finger is at index 0. To type a character, you have to move your finger to the index of the desired character. The time taken to move your finger from index i to index j is |i - j|.

You want to type a string word. Write a function to calculate how much time it takes to type it with one finger.

 

Example 1:

Input: keyboard = "abcdefghijklmnopqrstuvwxyz", word = "cba"
Output: 4
Explanation: The index moves from 0 to 2 to write 'c' then to 1 to write 'b' then to 0 again to write 'a'.
Total time = 2 + 1 + 1 = 4. 
Example 2:

Input: keyboard = "pqrstuvwxyzabcdefghijklmno", word = "leetcode"
Output: 73

In [18]:
def calculateTime(keyboard,word):
    l=0
    p=0
    for i in word:
        l=l+abs(keyboard.index(i)-p)
        p=keyboard.index(i)
    return l

In [19]:
keyboard = "abcdefghijklmnopqrstuvwxyz"
word = "cba"
calculateTime(keyboard,word)

4

In [20]:
keyboard = "pqrstuvwxyzabcdefghijklmno"
word = "leetcode"
calculateTime(keyboard,word)

73

## Relative Sort Array

Given two arrays arr1 and arr2, the elements of arr2 are distinct, and all elements in arr2 are also in arr1.

Sort the elements of arr1 such that the relative ordering of items in arr1 are the same as in arr2.  Elements that don't appear in arr2 should be placed at the end of arr1 in ascending order.

 

Example 1:

Input: arr1 = [2,3,1,3,2,4,6,7,9,2,19], arr2 = [2,1,4,3,9,6]
Output: [2,2,2,1,4,3,3,9,6,7,19]

In [1]:
def relativeSortArray(arr1,arr2):
        o=[]
        for i in arr2:
            o=o+[i]*arr1.count(i)
        arr1.sort()
        for i in arr1:
            if i not in arr2:
                o.append(i)
        return o

In [2]:
arr1 = [2,3,1,3,2,4,6,7,9,2,19]
arr2 = [2,1,4,3,9,6]
relativeSortArray(arr1,arr2)

[2, 2, 2, 1, 4, 3, 3, 9, 6, 7, 19]

In [3]:
arr1=[28,6,22,8,44,17]
arr2=[22,28,8,6]
relativeSortArray(arr1,arr2)

[22, 28, 8, 6, 17, 44]

In [4]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [5]:
for i in range(10):
    k=10-i
    print('*'*k,flush=True)
for j in range(10):
    print('*'*j)

**********
*********
********
*******
******
*****
****
***
**
*

*
**
***
****
*****
******
*******
********
*********

In [7]:
def fcount(f):
    import pandas as pd
    import datetime 
    df=pd.read_csv(f,header=None,names=['Date','Nums','Name'])
    df['Month Year'] = pd.to_datetime(df['Date']).dt.to_period('M')
    return df.groupby('Month Year')['Name'].nunique()

In [8]:
fcount('test.csv')

Month Year
2019-01    2
2019-02    1
Freq: M, Name: Name, dtype: int64

In [1]:
def uni_cnt(f):
    import csv
    d={}
    ls=[]
    ld=[]
    with open(f,'r',encoding='utf-8-sig') as f:
        csv_read=csv.reader(f, delimiter=',')
        for i in csv_read:
            l=str(i[0].split('/')[2]+'-'+i[0].split('/')[0])+'-'+i[2]
            ls.append(l)
    for i in ls:
        if i not in ld:
            ld.append(i)
    for i in ld:
        k=i[:4]
        if k in d.keys():
            d[k]=d[k]+1
        else:
            d[k]=1
    return d

In [2]:
uni_cnt('test.csv')

{'19-1': 2, '19-2': 1}

In [3]:
import csv
d={}
ls=[]
ld=[]
with open('test.csv','r',encoding='utf-8-sig') as f:
    csv_read=csv.reader(f, delimiter=',')
    for i in csv_read:
        l=str(i[0].split('/')[2]+'-'+i[0].split('/')[0])+'-'+i[2]
        ls.append(l)
for i in set(ls):
    k=i[:4]
    if k in d.keys():
        d[k]=d[k]+1
    else:
        d[k]=1
d

{'19-2': 1, '19-1': 2}

In [4]:
for i in range(10):
    k=10-i
    if k==10:
        continue
    else:
        print('*'*k)
for j in range(10):
    if j==0:
        continue
    else:
        print('*'*j)

*********
********
*******
******
*****
****
***
**
*
*
**
***
****
*****
******
*******
********
*********

In [5]:
n='Ranjeet'
d={}
for i in n:
    d[i]=n.count(i)
max(d,key=d.get)

'e'

In [6]:
import pandas as pd
from pandas.io.json import json_normalize
url = 'https://gbfs.bluebikes.com/gbfs/en/station_status.json'
df = pd.read_json(url, orient='columns')
d=pd.DataFrame(df['data'][0])
d['num_bikes_available'].sum()

2659

In [7]:
import pandas as pd 
data = pd.read_json('https://raw.githubusercontent.com/a9k00r/python-test/master/raw_nyc_phil.json') 
nycphil = json_normalize(data['programs']) 
nycphil.head(3)

,season,orchestra,concerts,programID,works,id
0,1842-43,New York Philharmonic,"[{'Date': '1842-12-07T05:00:00Z', 'eventType':...",3853,"[{'workTitle': 'SYMPHONY NO. 5 IN C MINOR, OP....",38e072a7-8fc9-4f9a-8eac-3957905c0002
1,1842-43,New York Philharmonic,"[{'Date': '1843-02-18T05:00:00Z', 'eventType':...",5178,[{'workTitle': 'SYMPHONY NO. 3 IN E FLAT MAJOR...,c7b2b95c-5e0b-431c-a340-5b37fc860b34
2,1842-43,Musicians from the New York Philharmonic,"[{'Date': '1843-04-07T05:00:00Z', 'eventType':...",10785,"[{'workTitle': 'EGMONT, OP.84', 'composerName'...",894e1a52-1ae5-4fa7-aec0-b99997555a37

In [8]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [9]:
so=[{'Name':'John', 'Location':{'City':'Los Angeles','State':'CA'}, 'hobbies':['Music', 'Running']},
   {'Name':'John1', 'Location':{'City':'Los Angeles','State':'CA'}, 'hobbies':['Music', 'Running']}]

In [10]:
o=[]
for i in so:
    o.append(flatten_json(i))
df=pd.DataFrame(o)
df

    Name Location_City Location_State hobbies_0 hobbies_1
0   John   Los Angeles             CA     Music   Running
1  John1   Los Angeles             CA     Music   Running

## Reverse String

Write a function that reverses a string. The input string is given as an array of characters char[].

Do not allocate extra space for another array, you must do this by modifying the input array in-place with O(1) extra memory.

You may assume all the characters consist of printable ascii characters.

 

Example 1:

Input: ["h","e","l","l","o"]
Output: ["o","l","l","e","h"]
Example 2:

Input: ["H","a","n","n","a","h"]
Output: ["h","a","n","n","a","H"]

In [11]:
def rev_str(I):
    left=0
    right=len(I)-1
    while left<right:
        I[left],I[right]=I[right],I[left]
        left+=1
        right-=1
    return I

In [12]:
rev_str( ["h","e","l","l","o"] )

['o', 'l', 'l', 'e', 'h']

In [13]:
rev_str(["H","a","n","n","a","h"])

['h', 'a', 'n', 'n', 'a', 'H']

## Single Number

Given a non-empty array of integers, every element appears twice except for one. Find that single one.

Note:

Your algorithm should have a linear runtime complexity. Could you implement it without using extra memory?

Example 1:

Input: [2,2,1]
Output: 1
Example 2:

Input: [4,1,2,1,2]
Output: 4

In [14]:
def singleNumber(nums):
        t=[]
        for i in nums:
            if i not in t:
                t.append(i)
            else:
                t.remove(i)
        return t.pop()

In [15]:
singleNumber( [2,2,1])

1

In [16]:
singleNumber([4,1,2,1,2])

4

## Zolando

In [1]:
n=5
b=int(n/2) if n%2==0 else int((n-1)/2)
k=set()
for i in range(b+1):
    if i not in k and i!=0:
        k.add(i)
l=list(k)
for i in k:
    l.append(i*-1)
if n%2!=0:
    l.append(0)
l

[1, 2, -1, -2, 0]

In [2]:
l=[1,2,-4,2]
a=0
b=0
for i in range(len(l)):
    a=a+l[i]
    if a<0:
        a=0
    elif b<a:
        b=a
b

3

In [1]:
nums=[2, 2, 10, 13,13,1,2,13]
p=0
l=[]
for i in nums:
    if i==13:
        p=1
        l.append(0)
    elif p==1:
        l.append(0)
        p=0
    else:
        l.append(i)
l

[2, 2, 10, 0, 0, 0, 2, 0]

In [2]:
def num_str(a):
    import re
    if a=='':
        return a
    elif a[0].isalpha():
        a='1'+a
    new_a=re.split('(\d+)',a)[1:]
    for i in range(len(new_a)):
        if i%2==0:
            print(int(new_a[i])*new_a[i+1],end="")
print(num_str(''))
print(num_str('a'))
print(num_str('ab3dc'))
print(num_str('3df12de'))

aNone
abdcdcdcNone
dfdfdfdedededededededededededeNone

## Armstrong Number

The k-digit number N is an Armstrong number if and only if the k-th power of each digit sums to N.

Given a positive integer N, return true if and only if it is an Armstrong number.

 

Example 1:

Input: 153
Output: true
Explanation: 
153 is a 3-digit number, and 153 = 1^3 + 5^3 + 3^3.
Example 2:

Input: 123
Output: false
Explanation: 
123 is a 3-digit number, and 123 != 1^3 + 2^3 + 3^3 = 36.

In [3]:
def armstrong(x):
    return x==sum(int(i)**len(str(x)) for i in str(x))

In [4]:
armstrong(153)

True

In [5]:
armstrong(123)

False

### Count Substrings with Only One Distinct Letter

Given a string S, return the number of substrings that have only one distinct letter.

 

Example 1:

Input: S = "aaaba"
Output: 8
Explanation: The substrings with one distinct letter are "aaa", "aa", "a", "b".
"aaa" occurs 1 time.
"aa" occurs 2 times.
"a" occurs 4 times.
"b" occurs 1 time.
So the answer is 1 + 2 + 4 + 1 = 8.
Example 2:

Input: S = "aaaaaaaaaa"
Output: 55

In [6]:
def cn(s):
    c=0
    return sum([1 for i in range(len(s)) for j in range(len(s)) if len(set(s[i:j+1]))==1])

In [7]:
cn('aaaba')

8

In [8]:
cn('aaaaaaaaaa')

55

In [9]:
def us(s):
    s=' '+s+' '
    t,c=0,1
    for i in range(1,len(s)-1):
        if s[i]!=s[i-1]:
            c=1
        else:
            c+=1
        t+=c
    return t

In [10]:
us('aaaba')

8

In [11]:
us('aaaaaaaaaa')

55

In [ ]:
select length(a)-length(replace(a,',','')) from t

## Move Zeroes     # Walmart

Given an array nums, write a function to move all 0's to the end of it while maintaining the relative order of the non-zero elements.

Example:

Input: [0,1,0,3,12]
Output: [1,3,12,0,0]

In [2]:
def moveZeroes(I):
    I[:]= [i for i in I if i!=0]+[0]*I.count(0) 
    return I

In [3]:
moveZeroes([0,1,0,3,12])

[1, 3, 12, 0, 0]

## Degree of an Array # Walmart

Given a non-empty array of non-negative integers nums, the degree of this array is defined as the maximum frequency of any one of its elements.

Your task is to find the smallest possible length of a (contiguous) subarray of nums, that has the same degree as nums.

Example 1:
Input: [1, 2, 2, 3, 1]
Output: 2
Explanation: 
The input array has a degree of 2 because both elements 1 and 2 appear twice.
Of the subarrays that have the same degree:
[1, 2, 2, 3, 1], [1, 2, 2, 3], [2, 2, 3, 1], [1, 2, 2], [2, 2, 3], [2, 2]
The shortest length is 2. So return 2.
Example 2:
Input: [1,2,2,3,1,4,2]
Output: 6

In [2]:
def findShortestSubArray(nums):
        d={}
        for i,k in enumerate(nums):
            if k not in d:
                d[k]=[i]
            else:
                d[k].append(i)
        m=max(len(i) for i in d.values())
        return min(i[-1]-i[0] for i in d.values() if len(i)==m)+1

In [3]:
findShortestSubArray([1, 2, 2, 3, 1])

2

In [4]:
findShortestSubArray([1,2,2,3,1,4,2])

6

## First Unique Character in a String  # Walmart

Given a string, find the first non-repeating character in it and return it's index. If it doesn't exist, return -1.

Examples:

s = "leetcode"
return 0.

s = "loveleetcode",
return 2.

In [5]:
def firstUniqChar(s):
        return ([s.index(i) for i in s if s.count(i)==1]+[-1])[0]

In [6]:
firstUniqChar("leetcode")

0

In [7]:
firstUniqChar("loveleetcode")

2

In [8]:
firstUniqChar("")

-1

## Two Sum  # Walmart

Given an array of integers, return indices of the two numbers such that they add up to a specific target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

Example:

Given nums = [2, 7, 11, 15], target = 9,

Because nums[0] + nums[1] = 2 + 7 = 9,
return [0, 1].

In [10]:
def twoSum(nums, target):
        for i in range(len(nums)):
            if target-nums[i] in nums[i+1:]:
                return [i,nums.index(target-nums[i],i+1)]

In [11]:
twoSum([2, 7, 11, 15],9)

[0, 1]

In [13]:
twoSum([3,2,4],6)

[1, 2]

In [ ]:
Best Time to Buy and Sell Stock


Say you have an array for which the ith element is the price of a given stock on day i.

If you were only permitted to complete at most one transaction (i.e., buy one and sell one share of the stock), design an algorithm to find the maximum profit.

Note that you cannot sell a stock before you buy one.

Example 1:

Input: [7,1,5,3,6,4]
Output: 5
Explanation: Buy on day 2 (price = 1) and sell on day 5 (price = 6), profit = 6-1 = 5.
             Not 7-1 = 6, as selling price needs to be larger than buying price.
Example 2:

Input: [7,6,4,3,1]
Output: 0
Explanation: In this case, no transaction is done, i.e. max profit = 0.



n=len(prices)
        if n<=1:
            return 0
        max_profit=0
        low_price=prices[0]
        for i in range(1,n):
            low_price=min(low_price,prices[i])
            max_profit=max(max_profit, prices[i]-low_price)
        return max_profit

## House Robber # Walmart

You are a professional robber planning to rob houses along a street. Each house has a certain amount of money stashed, the only constraint stopping you from robbing each of them is that adjacent houses have security system connected and it will automatically contact the police if two adjacent houses were broken into on the same night.

Given a list of non-negative integers representing the amount of money of each house, determine the maximum amount of money you can rob tonight without alerting the police.

Example 1:

Input: [1,2,3,1]
Output: 4
Explanation: Rob house 1 (money = 1) and then rob house 3 (money = 3).
             Total amount you can rob = 1 + 3 = 4.
Example 2:

Input: [2,7,9,3,1]
Output: 12
Explanation: Rob house 1 (money = 2), rob house 3 (money = 9) and rob house 5 (money = 1).
             Total amount you can rob = 2 + 9 + 1 = 12.

In [14]:
def rob(nums):
        last, now = 0, 0
        
        for i in nums: last, now = now, max(last + i, now)
                
        return now

In [16]:
rob([2,7,9,3,1] )

12

In [17]:
rob([1,2,3,1] )

4

In [ ]:
Maximum Subarray

Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

Example:

Input: [-2,1,-3,4,-1,2,1,-5,4],
Output: 6
Explanation: [4,-1,2,1] has the largest sum = 6.
Follow up:

If you have figured out the O(n) solution, try coding another solution using the divide and conquer approach, which is more subtle.


def maxSubArray(self, nums: 'List[int]') -> 'int':
        n = len(nums)
        curr_sum = max_sum = nums[0]

        for i in range(1, n):
            curr_sum = max(nums[i], curr_sum + nums[i])
            max_sum = max(max_sum, curr_sum)
            
        return max_sum

# LinkedIn

# Two Sum III - Data structure design
Design and implement a TwoSum class. It should support the following operations: add and find.

add - Add the number to an internal data structure.
find - Find if there exists any pair of numbers which sum is equal to the value.

Example 1:

add(1); add(3); add(5);
find(4) -> true
find(7) -> false
Example 2:

add(3); add(1); add(2);
find(3) -> true
find(6) -> false

In [1]:
class TwoSum:
    
    def __init__(self):
        self.d_num={}
    
    def add(self,num):
        if num not in self.d_num:
            self.d_num[num]=1
        else:
             self.d_num[num]=self.d_num[num]+1
    
    def show(self):
        return self.d_num
    
    def find(self,value):
        for i in self.d_num.keys():
            d=value-i
            if i!=d:
                if d in self.d_num:
                    return True
#                 else:
#                     return False
            elif self.d_num[i]>1:
                return True
        return False

In [2]:
y=TwoSum()

In [3]:
y.add(3)

In [4]:
y.add(1)

In [5]:
y.add(2)

In [6]:
y.show()

{3: 1, 1: 1, 2: 1}

In [7]:
y.find(3)

True

# Nested List Weight Sum
Given a nested list of integers, return the sum of all integers in the list weighted by their depth.

Each element is either an integer, or a list -- whose elements may also be integers or other lists.

Example 1:

Input: [[1,1],2,[1,1]]
Output: 10 
Explanation: Four 1's at depth 2, one 2 at depth 1.
Example 2:

Input: [1,[4,[6]]]
Output: 27 
Explanation: One 1 at depth 1, one 4 at depth 2, and one 6 at depth 3; 1 + 4*2 + 6*3 = 27.

In [1]:
def ws(x):
    d=1
    
    def wsi(x,d):
        s=0
        for i in x:
            if isinstance(i,list):
                #d=d+1
                s=s+wsi(i,d+1)
            else:
                s=s+i*d
        return s
    return wsi(x,d)

In [2]:
ws( [[1,1],2,[1,1]])

10

In [3]:
ws( [1,[4,[6]]] )

27

# Maximum Subarray

Given an integer array nums, find the contiguous subarray (containing at least one number) which has the largest sum and return its sum.

Example:

Input: [-2,1,-3,4,-1,2,1,-5,4],
Output: 6
Explanation: [4,-1,2,1] has the largest sum = 6.

In [4]:
def max_sub(a):
    curr_sum=max_sum=a[0]
    for i in range(1,len(a)):
        curr_sum=max(a[i],curr_sum+a[i])
        max_sum=max(curr_sum,max_sum)
    return max_sum

In [5]:
max_sub([-2,1,-3,4,-1,2,1,-5,4])

6

## 205. Isomorphic Strings

Given two strings s and t, determine if they are isomorphic.

Two strings are isomorphic if the characters in s can be replaced to get t.

All occurrences of a character must be replaced with another character while preserving the order of characters. No two characters may map to the same character but a character may map to itself.

Example 1:

Input: s = "egg", t = "add"
Output: true
Example 2:

Input: s = "foo", t = "bar"
Output: false
Example 3:

Input: s = "paper", t = "title"
Output: true
Note:
You may assume both s and t have the same length.

In [2]:
def iso(s,t):
    s_d={}
    t_d={}
    for i in range(len(s)):
        if s[i] in s_d.keys():
            continue
        else:
            s_d[s[i]]=t[i]
    s_n=""
    for i in s:
        s_n=s_n+s_d[i]
    for i in range(len(s)):
        if t[i] in t_d.keys():
            continue
        else:
            t_d[t[i]]=s[i]
    t_n=""
    for i in t:
        t_n=t_n+t_d[i]
    return s_n==t and t_n==s

In [3]:
iso('egg','add')

True

In [4]:
iso('foo','bar')

False

In [5]:
iso('paper','title')

True

# Merge Sort

In [6]:
def merge_lists(list1, list2):
    # Write your code here
    nl=[]
    n1=len(list1)
    n2=len(list2)
    i=0
    j=0
    x=[]
    while n1>0 and n2>0:
        if list1[i]<list2[j]:
            nl.append(list1[i])
            i=i+1
            n1=n1-1
        else:
            nl.append(list2[j])
            j=j+1
            n2=n2-1
    #print(i,j,n1,n2,len(list1),len(list2),len(list1)-i,len(list2)-j)
    if len(list1)-i>0:
        x=nl+list1[i:]
    if len(list2)-j>0:
        x=nl+list2[j:]
    return x

In [7]:
Book1={'title':'Concept of Physics','author':'H C Verma','desc':'Physics Part1'}
Book2={'title':'Elementry of Physcis','author':'N D Tiwari','desc':'Physics Part2'}
Book3={'title':'Mathematics','author':'K C Sinha','desc':'Maths Part1'}
l=[Book1,Book2,Book3]
d={}
for i in l:
    for j in i['desc'].split():
        if j not in d:
            d[j]=['title: '+i['title']+' author: '+i['author']]
        else:
            d[j]=d[j]+['title: '+i['title']+' author: '+i['author']]
d

{'Physics': ['title: Concept of Physics author: H C Verma',
  'title: Elementry of Physcis author: N D Tiwari'],
 'Part1': ['title: Concept of Physics author: H C Verma',
  'title: Mathematics author: K C Sinha'],
 'Part2': ['title: Elementry of Physcis author: N D Tiwari'],
 'Maths': ['title: Mathematics author: K C Sinha']}

In [8]:
class book:
    
    book_dict={}
    
    
    def __init__(self,title,author,desc):
        self.title=title
        self.author=author
        self.desc=desc
        desc_key=self.desc.split()
        for j in desc_key:
            if j not in book.book_dict:
                book.book_dict[j]=['title: '+self.title+' || author: '+self.author]
            else:
                book.book_dict[j]=book.book_dict[j]+['title: '+self.title+' || author: '+self.author]
        
    def __str__(self):
        return 'Title: '+self.title+'\nAuthor: '+self.author+'\nDesc: '+self.desc
    
    def show(self):
        print('Book title is {}, Author of the book is {}'.format(self.title,self.author))
        
    def book_dict_show(self):
        print(book.book_dict)
        
    def book_find(self,word):
        self.word=word
        for i in book.book_dict:
            if word in book.book_dict.keys():
                return book.book_dict[word]
            
    @classmethod
    def from_string(cls, book_str):
        title, author, desc = book_str.split('-')
        return cls(title, author, desc)

In [9]:
book1=book('Concept of Physics','H C Verma','Physics Part1')
book2=book('Elementry of Physcis','N D Tiwari','Physics Part2')
book3=book('Mathematics','K C Sinha','Maths Part1')

In [10]:
print(book1)

Title: Concept of Physics
Author: H C Verma
Desc: Physics Part1

In [11]:
print(book.book_dict)

{'Physics': ['title: Concept of Physics || author: H C Verma', 'title: Elementry of Physcis || author: N D Tiwari'], 'Part1': ['title: Concept of Physics || author: H C Verma', 'title: Mathematics || author: K C Sinha'], 'Part2': ['title: Elementry of Physcis || author: N D Tiwari'], 'Maths': ['title: Mathematics || author: K C Sinha']}

In [12]:
book.book_dict

{'Physics': ['title: Concept of Physics || author: H C Verma',
  'title: Elementry of Physcis || author: N D Tiwari'],
 'Part1': ['title: Concept of Physics || author: H C Verma',
  'title: Mathematics || author: K C Sinha'],
 'Part2': ['title: Elementry of Physcis || author: N D Tiwari'],
 'Maths': ['title: Mathematics || author: K C Sinha']}

In [13]:
book.book_dict_show(object)

{'Physics': ['title: Concept of Physics || author: H C Verma', 'title: Elementry of Physcis || author: N D Tiwari'], 'Part1': ['title: Concept of Physics || author: H C Verma', 'title: Mathematics || author: K C Sinha'], 'Part2': ['title: Elementry of Physcis || author: N D Tiwari'], 'Maths': ['title: Mathematics || author: K C Sinha']}

In [14]:
book.book_find(book,'Physics')

['title: Concept of Physics || author: H C Verma',
 'title: Elementry of Physcis || author: N D Tiwari']

## Find N Unique Integers Sum up to Zero

Given an integer n, return any array containing n unique integers such that they add up to 0.

 

Example 1:

Input: n = 5
Output: [-7,-1,1,3,4]
Explanation: These arrays also are accepted [-5,-1,1,2,3] , [-3,-1,2,-2,4].
Example 2:

Input: n = 3
Output: [-1,0,1]
Example 3:

Input: n = 1
Output: [0]

In [1]:
def sumZero(n):
        o=[]
        if n%2==0:
            for i in range(n//2):
                o.append(i+1)
                o.append((i+1)*-1)
        else:
            for i in range((n-1)//2):
                o.append(i+1)
                o.append((i+1)*-1)
            o.append(0)
        return o

In [2]:
sumZero(5)

[1, -1, 2, -2, 0]

In [3]:
sumZero(3)

[1, -1, 0]

In [4]:
sumZero(1)

[0]

## 1460. Make Two Arrays Equal by Reversing Sub-arrays

Given two integer arrays of equal length target and arr.

In one step, you can select any non-empty sub-array of arr and reverse it. You are allowed to make any number of steps.

Return True if you can make arr equal to target, or False otherwise.

 

Example 1:

Input: target = [1,2,3,4], arr = [2,4,1,3]
Output: true
Explanation: You can follow the next steps to convert arr to target:
1- Reverse sub-array [2,4,1], arr becomes [1,4,2,3]
2- Reverse sub-array [4,2], arr becomes [1,2,4,3]
3- Reverse sub-array [4,3], arr becomes [1,2,3,4]
There are multiple ways to convert arr to target, this is not the only way to do so.
Example 2:

Input: target = [7], arr = [7]
Output: true
Explanation: arr is equal to target without any reverses.
Example 3:

Input: target = [1,12], arr = [12,1]
Output: true
Example 4:

Input: target = [3,7,9], arr = [3,7,11]
Output: false
Explanation: arr doesn't have value 9 and it can never be converted to target.
Example 5:

Input: target = [1,1,1,1,1], arr = [1,1,1,1,1]
Output: true

In [5]:
def canBeEqual(target,arr):
        target.sort()
        arr.sort()
        if target==arr:
            return True
        else:
            return False

In [6]:
canBeEqual( [1,2,3,4], [2,4,1,3])

True

In [7]:
canBeEqual( [7], [7])

True

## 461. Hamming Distance

The Hamming distance between two integers is the number of positions at which the corresponding bits are different.

Given two integers x and y, calculate the Hamming distance.

Note:
0 ≤ x, y < 231.

Example:

Input: x = 1, y = 4

Output: 2

Explanation:
1   (0 0 0 1)
4   (0 1 0 0)
       ↑   ↑

The above arrows point to positions where the corresponding bits are different.

In [3]:
def hd(x,y):
    return bin(x^y).count('1')

In [4]:
hd(1,4)

2

## 155. Min Stack

Design a stack that supports push, pop, top, and retrieving the minimum element in constant time.

push(x) -- Push element x onto stack.
pop() -- Removes the element on top of the stack.
top() -- Get the top element.
getMin() -- Retrieve the minimum element in the stack.
 

Example 1:

Input
["MinStack","push","push","push","getMin","pop","top","getMin"]
[[],[-2],[0],[-3],[],[],[],[]]

Output
[null,null,null,null,-3,null,0,-2]

Explanation
MinStack minStack = new MinStack();
minStack.push(-2);
minStack.push(0);
minStack.push(-3);
minStack.getMin(); // return -3
minStack.pop();
minStack.top();    // return 0
minStack.getMin(); // return -2

In [20]:
class MinStack:

    def __init__(self):
        self.stack=[]
        

    def push(self, x):
        if not self.stack:
            self.stack.append((x,x))
            return
        cur_min=self.stack[-1][1]
        self.stack.append((x,min(x,cur_min)))
    
    def show(self):
        return [i[0] for i in self.stack]
        
        

    def pop(self):
        self.stack.pop()
        

    def top(self):
        return self.stack[-1][0]
        

    def getMin(self):
        return self.stack[-1][1]

In [21]:
ms=MinStack()

In [22]:
ms.push(10)

In [23]:
ms.push(3)

In [24]:
ms.push(4)

In [25]:
ms.push(7)

In [26]:
ms.show()

[10, 3, 4, 7]

In [28]:
ms.pop()

In [29]:
ms.show()

[10, 3, 4]

In [30]:
ms.top()

4

In [31]:
ms.getMin()

3

## 172. Factorial Trailing Zeroes

Given an integer n, return the number of trailing zeroes in n!.

Example 1:

Input: 3
Output: 0
Explanation: 3! = 6, no trailing zero.
Example 2:

Input: 5
Output: 1
Explanation: 5! = 120, one trailing zero.
Note: Your solution should be in logarithmic time complexity.

In [32]:
def trailingZeroes(n):
        z=0
        while n>0:
            n=n//5
            z=z+n
        return z

In [33]:
trailingZeroes(3)

0

In [34]:
trailingZeroes(100)

24

## 463. Island Perimeter

You are given a map in form of a two-dimensional integer grid where 1 represents land and 0 represents water.

Grid cells are connected horizontally/vertically (not diagonally). The grid is completely surrounded by water, and there is exactly one island (i.e., one or more connected land cells).

The island doesn't have "lakes" (water inside that isn't connected to the water around the island). One cell is a square with side length 1. The grid is rectangular, width and height don't exceed 100. Determine the perimeter of the island.

 

Example:

Input:
[[0,1,0,0],
 [1,1,1,0],
 [0,1,0,0],
 [1,1,0,0]]

Output: 16

Explanation: The perimeter is the 16 yellow stripes in the image below:

In [35]:
def island(g):
    row=len(g)
    col=len(g)
    area=0
    for r in range(row):
        for c in range(col):
            if g[r][c]==1:
                if r==0:
                    up=0
                else:
                    up=g[r-1][c]
                if r==row-1:
                    down=0
                else:
                    down=g[r+1][c]
                if c==0:
                    left=0
                else:
                    left=g[r][c-1]
                if c==col-1:
                    right=0
                else:
                    right=g[r][c+1]
                area+=4-(up+down+right+left)
    return area

In [36]:
island([[0,1,0,0],
 [1,1,1,0],
 [0,1,0,0],
 [1,1,0,0]]
)

16

## Trace the Complete Path of a Journey

Sample Input 

d = {
  "NewYork": "Chicago",
  "Boston": "Texas",
  "Missouri": "NewYork",
  "Texas": "Missouri"
}

Sample Output

[["Boston", "Texas"] , ["Texas", "Missouri"] , ["Missouri", "NewYork"] , ["NewYork", "Chicago"]]

In [1]:
def trace_path(d):  # A Map object
    result=[]
    for k,v in d.items():
        if k not in d.values():
            st=k
    from_loc=st
    to_loc=d.get(from_loc)
    while to_loc is not None:
        result.append([from_loc,to_loc])
        from_loc=to_loc
        to_loc=d.get(from_loc)
    return result

In [2]:
d = { "NewYork": "Chicago", "Boston": "Texas", "Missouri": "NewYork", "Texas": "Missouri" }

In [3]:
trace_path(d)

[['Boston', 'Texas'],
 ['Texas', 'Missouri'],
 ['Missouri', 'NewYork'],
 ['NewYork', 'Chicago']]