In [1]:
2+2

4

In [19]:
I= [[1,1],2,[1,1]]
a=[1,1]

for i in I:
    if i.isInteger():
        print(i)

AttributeError: 'list' object has no attribute 'isInteger'

In [13]:
def rec(I):
    x=[]
    def test(I,l=1):
        for i in I:
            if isinstance(i,int):
                x.append(i*l)
        else:
            test(i,l+1)
        return x
    test(I,l=1)
    return x

In [14]:
rec([[1,1],2,[1,1]])

TypeError: 'int' object is not iterable

In [10]:
I= [-10,-5,0,7]
for i,x in enumerate(I):
    if i==x:
        print(i)

In [8]:
def test(I):
    return ([i for i,x in enumerate(I) if i==x]+[-1])[0]

In [11]:
test(I)

-1

In [1]:
i=["h","e","l","l","o"]
i[::-1]

['o', 'l', 'l', 'e', 'h']

In [19]:
x="carerac"
#x="aab"
x='code'
x=='aa'
t=[]
for i in x:
    t.append(x.count(i)%2)
if (len(x)%2==1 and t.count(1)%2==1 and t.count(0)%2==0) or (len(x)%2==0 and t.count(1)%2==0 and t.count(0)%2==1):
    print('T')
else:
    print('F')
print(len(x)%2,t.count(1)%2,t.count(0)%2)

F
0 0 0

In [11]:
x="carerac"
t=[]
for i in x:
    t.append(x.count(i)%2)
t

[0, 0, 0, 1, 0, 0, 0]

In [12]:
1%2

1

In [13]:
2%2

0

In [23]:
x="code"
t=[]
d={}
for i in x:
    if i not in d:
        d[i]=1
    else:
        d[i]+=1
if len(x)%2==0:
    for i in d.values():
        if i%2==1:
            print('F')
    print('T') 
else:

{'c': 1, 'o': 1, 'd': 1, 'e': 1}

In [3]:
words = ["practice", "makes", "perfect", "coding", "makes"]
word1 = 'coding' 
word2 = 'practice'
w1=[]
w2=[]
for i,j in enumerate(words):
    if j==word1:
        w1.append(i)
    if j==word2:
        w2.append(i)
res=[]
for i in w1:
    for j in w2:
        if i==j:
            continue
        else:
            res.append(abs(i-j))
min(res)

3

In [8]:
s = 'anagram'
sorted(s)

['a', 'a', 'a', 'g', 'm', 'n', 'r']

In [11]:
m={'I':1,'V':5,'X':10,'L':50,'C':100,'D':500,'M':1000}
#print(m.values())
I='III'
O=0
print(I.split())
#string to listing
for i in I:
    if i=='I':
        O=O+1
    if i=='V' and len(I)>1:
print(O)

IndentationError: expected an indented block (<ipython-input-11-4a92130231d2>, line 11)

In [2]:
nums = [2, 7, 11, 15]
target = 9
for i in range(len(nums)):
    if target-nums[i] in nums[i+1:]:
        print(i,nums.index(target-nums[i],i+1))

0 1

In [69]:
class TwoSum:
    
    def __init__(self):
        self.d_num={}
    
    def add(self,num):
        if num not in self.d_num:
            self.d_num[num]=1
        else:
             self.d_num[num]=self.d_num[num]+1
    
    def show(self):
        return self.d_num
    
    def find(self,value):
        for i in self.d_num.keys():
            d=value-i
            if i!=d:
                if d in self.d_num:
                    return True
#                 else:
#                     return False
            elif self.d_num[i]>1:
                return True
        return False

In [36]:
TwoSum.add(2)

TypeError: add() missing 1 required positional argument: 'num'

In [37]:
x=TwoSum()

In [38]:
x.add(2)

In [39]:
x.add(3)

In [40]:
x

In [41]:
print(x)

<__main__.TwoSum object at 0x0000022CDE600CA0>

In [42]:
x.show()

{2: 1, 3: 1}

In [43]:
x.find(5)

True

In [44]:
x.find(3)

False

In [45]:
x.find(2)

False

In [46]:
x.add(2)

In [47]:
x.find(4)

True

In [48]:
x.show()

{2: 2, 3: 1}

In [49]:
x.add(2)

In [50]:
x.show()

{2: 3, 3: 1}

In [51]:
x.add

In [52]:
["TwoSum","add","add","add","find"]
[[],[3],[1],[2],[3]]

[[], [3], [1], [2], [3]]

In [70]:
y=TwoSum()

In [71]:
y.add(3)

In [72]:
y.add(1)

In [73]:
y.add(2)

In [74]:
y.show()

{3: 1, 1: 1, 2: 1}

In [75]:
y.find(3)

True

In [1]:
a=[-2,1,-3,4,-1,2,1,-5,4]

In [3]:
curr_sum=max_sum=a[0]
for i in range(1,len(a)):
    curr_sum=max(a[i],curr_sum+a[i])
    max_sum=max(curr_sum,max_sum)
max_sum

6

In [4]:
class Solution:
    def maxSubArray(self, nums: 'List[int]') -> 'int':
        n = len(nums)
        max_sum = nums[0]
        for i in range(1, n):
            if nums[i - 1] > 0:
                nums[i] += nums[i - 1] 
            max_sum = max(nums[i], max_sum)

        return max_sum

In [7]:
x=[None,8,None]
a=[]
t=x[0]
for i in x:
    if i is None:
        a.append(t)
    else:
        t=i
        a.append(i)
a

[None, 8, 8]

In [13]:
f=[1,0,0,0,1]
n=2

In [14]:
cz=f.count(0)
co=f.count(1)+n
if cz>=co:
    print('True')
else:
    print('False')

False

In [7]:
t=[0,1,1]
t.count(1)

2

In [18]:
flowerbed=[1,0,0,0,1]
def fl(flowerbed,n):
    
    c=0
    for i in range(len(flowerbed)):
        if i!=0 and i!=len(flowerbed)-1:
            if flowerbed[i]==0 and flowerbed[i+1]==0 and flowerbed[i-1]==0:
                flowerbed[i]=1
                c=c+1
        elif i==len(flowerbed)-1:
            if flowerbed[i]==0 and flowerbed[i-1]==0:
                flowerbed[i]=1
                c=c+1
        else:
            if flowerbed[i]==0 and flowerbed[i+1]==0:
                flowerbed[i]=1
                c=c+1
    if c<n:
        return False
    else:
        return True

In [20]:
fl([1,0,0,0,1],2)

False

In [10]:
s = "egg"
t = "add"
s_d={}
t_d={}
for i in range(len(s)):
    if s[i] in s_d.keys():
        continue
    else:
        s_d[s[i]]=t[i]
s_n=""
for i in s:
    s_n=s_n+s_d[i]
# if s_n==t:
#     print('True')
# else:
#     print('False')
s_n

'add'

In [17]:
s = "egg"
t = "add"
s_d={}
t_d={}
for i in range(len(s)):
    if t[i] in t_d.keys():
        continue
    else:
        t_d[t[i]]=s[i]
t_n=""
for i in t:
    t_n=t_n+t_d[i]
for i in range(len(s)):
    if s[i] in s_d.keys():
        continue
    else:
        s_d[s[i]]=t[i]
s_n=""
for i in s:
    s_n=s_n+s_d[i]
print(s_d,s_n,t_d,t_n)

{'e': 'a', 'g': 'd'} add {'a': 'e', 'd': 'g'} egg

In [22]:
s = "egg"
t = "add"
def iso(s,t):
    s_d={}
    t_d={}
    for i in range(len(s)):
        if t[i] in t_d.keys():
            continue
        else:
            t_d[t[i]]=s[i]
    for i in range(len(s)):
        if s[i] in s_d.keys():
            continue
        else:
            s_d[s[i]]=t[i]
    for k,v in s_d.items():
        if k==t_d[v]:
            continue
        else:
            return False
    return True

In [25]:
iso('paper','title')

True

In [26]:
s_d={}
        t_d={}
        for i in range(len(s)):
            if s[i] in s_d.keys():
                continue
            else:
                s_d[s[i]]=t[i]
        s_n=""
        for i in s:
            s_n=s_n+s_d[i]
        for i in range(len(s)):
            if t[i] in t_d.keys():
                continue
            else:
                t_d[t[i]]=s[i]
        t_n=""
        for i in t:
            t_n=t_n+t_d[i]
        return s_n==t and t_n==s

IndentationError: unexpected indent (<ipython-input-26-4c43f45152c4>, line 2)

In [52]:
class book:
    
    def __init__(self,title,author,desc):
        self.title=title
        self.author=author
        self.desc=desc
        
    def __str__(self):
        return 'Title: '+self.title+'\nAuthor: '+self.author+'\nDesc: '+self.desc
    
    def show(self):
        print('Book title is {}, Author of the book is {}'.format(self.title,self.author))

In [53]:
A1=book('A','B','CD')

In [54]:
print(A1)

Title: A
Author: B
Desc: CD

In [55]:
A1.show()

Book title is A, Author of the book is B

In [56]:
class book_d:
    pass

In [57]:
b1=book_d()
b1.title='B1'
b1.author='BA1'
b2=book_d()
b2.title='B2'
b2.author='BA2'

In [60]:
print(b1.__dict__)

{'title': 'B1', 'author': 'BA1'}

 print(p1["name"])

In [64]:
print(b1.__dict__["title"])

B1

In [65]:
print(A1.__dict__)

{'title': 'A', 'author': 'B', 'desc': 'CD'}

In [81]:
Book1={'title':'Concept of Physics','author':'H C Verma','desc':'Physics Part1'}
Book2={'title':'Elementry of Physcis','author':'N D Tiwari','desc':'Physics Part2'}
Book3={'title':'Mathematics','author':'K C Sinha','desc':'Maths Part1'}

Book1

In [82]:
Book1

{'title': 'Concept of Physics', 'author': 'H C Verma', 'desc': 'Physics Part1'}

In [68]:
l=[Book1,Book2,Book3]

In [69]:
l

[{'title': 'Concept of Physics',
  'author': 'H C Verma',
  'desc': 'Physcis Part1'},
 {'title': 'Elementry of Physcis',
  'author': 'N D Tiwari',
  'desc': 'Physcis Part2'},
 {'title': 'Mathematics', 'author': 'K C Sinha', 'desc': 'Maths'}]

In [80]:
a='Physcis'
for i in l:
    if a in i['desc']:
        print(i['title'],i['author'])

Concept of Physics H C Verma
Elementry of Physcis N D Tiwari

In [79]:
for i in l:
    print(type(i['desc']))

<class 'str'>
<class 'str'>
<class 'str'>

In [118]:
Book1={'title':'Concept of Physics','author':'H C Verma','desc':'Physics Part1'}
Book2={'title':'Elementry of Physcis','author':'N D Tiwari','desc':'Physics Part2'}
Book3={'title':'Mathematics','author':'K C Sinha','desc':'Maths Part1'}
l=[Book1,Book2,Book3]
d={}
for i in l:
    for j in i['desc'].split():
        if j not in d:
            d[j]=['title: '+i['title']+' author: '+i['author']]
        else:
            d[j]=d[j]+['title: '+i['title']+' author: '+i['author']]
d

{'Physics': ['title: Concept of Physics author: H C Verma',
  'title: Elementry of Physcis author: N D Tiwari'],
 'Part1': ['title: Concept of Physics author: H C Verma',
  'title: Mathematics author: K C Sinha'],
 'Part2': ['title: Elementry of Physcis author: N D Tiwari'],
 'Maths': ['title: Mathematics author: K C Sinha']}

In [102]:
dt={'a':[1,2],'b':[3,4]}
dt

{'a': [1, 2], 'b': [3, 4]}

In [100]:
new_dt={'au':[1,2]}
new_dt

{'au': [1, 2]}

In [117]:
a='Physcis'
for i in d:
    if a in d.keys():
        print(d[a])
        break

['title: Concept of Physics author: H C Verma', 'title: Elementry of Physcis author: N D Tiwari']

In [116]:
d['Physcis']

['title: Concept of Physics author: H C Verma',
 'title: Elementry of Physcis author: N D Tiwari']

In [119]:
class book:
    
    def __init__(self,title,author,desc):
        self.title=title
        self.author=author
        self.desc=desc
        d={}
        i=self.desc.split()
        for j in i:
            if j not in d:
                d[j]=['title: '+self.title+' author: '+self.author]
            else:
                d[j]=d[j]+['title: '+self.title+' author: '+i['author']]
        
    def __str__(self):
        return 'Title: '+self.title+'\nAuthor: '+self.author+'\nDesc: '+self.desc
    
    def show(self):
        print('Book title is {}, Author of the book is {}'.format(self.title,self.author))

In [272]:
class book:
    
    book_dict={}
    
    
    def __init__(self,title,author,desc):
        self.title=title
        self.author=author
        self.desc=desc
        desc_key=self.desc.split()
        for j in desc_key:
            if j not in book.book_dict:
                book.book_dict[j]=['title: '+self.title+' || author: '+self.author]
            else:
                book.book_dict[j]=book.book_dict[j]+['title: '+self.title+' || author: '+self.author]
        
    def __str__(self):
        return 'Title: '+self.title+'\nAuthor: '+self.author+'\nDesc: '+self.desc
    
    def show(self):
        print('Book title is {}, Author of the book is {}'.format(self.title,self.author))
        
    def book_dict_show(self):
        print(book.book_dict)
        
    def book_find(self,word):
        self.word=word
        for i in book.book_dict:
            if word in book.book_dict.keys():
                return book.book_dict[word]
            
    @classmethod
    def from_string(cls, book_str):
        title, author, desc = book_str.split('-')
        return cls(title, author, desc)

In [273]:
book1=book('Concept of Physics','H C Verma','Physics Part1')
book2=book('Elementry of Physcis','N D Tiwari','Physics Part2')
book3=book('Mathematics','K C Sinha','Maths Part1')
# book4='Concept of Physics 2-H C Verma-Physics Part1'
# book5='Elementry of Mathematics-D K Singh-Maths'
# book3='Mathematics-U C Sinha-Maths Part2'

In [274]:
print(book1)

Title: Concept of Physics
Author: H C Verma
Desc: Physics Part1

In [275]:
print(book.book_dict)

{'Physics': ['title: Concept of Physics || author: H C Verma', 'title: Elementry of Physcis || author: N D Tiwari'], 'Part1': ['title: Concept of Physics || author: H C Verma', 'title: Mathematics || author: K C Sinha'], 'Part2': ['title: Elementry of Physcis || author: N D Tiwari'], 'Maths': ['title: Mathematics || author: K C Sinha']}

In [276]:
book.book_dict

{'Physics': ['title: Concept of Physics || author: H C Verma',
  'title: Elementry of Physcis || author: N D Tiwari'],
 'Part1': ['title: Concept of Physics || author: H C Verma',
  'title: Mathematics || author: K C Sinha'],
 'Part2': ['title: Elementry of Physcis || author: N D Tiwari'],
 'Maths': ['title: Mathematics || author: K C Sinha']}

In [277]:
book.book_dict_show(object)

{'Physics': ['title: Concept of Physics || author: H C Verma', 'title: Elementry of Physcis || author: N D Tiwari'], 'Part1': ['title: Concept of Physics || author: H C Verma', 'title: Mathematics || author: K C Sinha'], 'Part2': ['title: Elementry of Physcis || author: N D Tiwari'], 'Maths': ['title: Mathematics || author: K C Sinha']}

In [278]:
book.book_find(book,'Physics')

['title: Concept of Physics || author: H C Verma',
 'title: Elementry of Physcis || author: N D Tiwari']

In [4]:
import os
os.getcwd()

'C:\\Users\\meran\\python'

In [5]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Adding to Dict.ipynb',
 'Amazon - Gender count.ipynb',
 'amz.csv',
 'api.ipynb',
 'api.py',
 'api.py.txt',
 'Automate Boring Stuff.ipynb',
 'bank.csv',
 'clientsecrets.txt',
 'CodingBat.ipynb',
 'Day 1 - Pandas.ipynb',
 'Day 3.ipynb',
 'DSA.ipynb',
 'FL_insurance_sample.csv',
 'google_drive_upload.ipynb',
 'HackerRank - Leap Year.ipynb',
 'Ingram_psales_load.py',
 'Interview.ipynb',
 'Leet Code Airbnb-checkpoint.ipynb',
 'Leet Code Airbnb.ipynb',
 'Leet Code Rough.ipynb',
 'Lesson 10.ipynb',
 'Lesson 4.ipynb',
 'Lesson 6.ipynb',
 'Lesson 7.ipynb',
 'LSI_v3.ipynb',
 'name.csv',
 'name.txt',
 'name1.txt',
 'Numpy.ipynb',
 'PlayGroud.ipynb',
 'postgresql load.ipynb',
 'projects',
 'ratings-counter.py',
 'sql.ipynb',
 'Stack.ipynb',
 'test.txt',
 'The Collatz Sequence.ipynb',
 'Untitled.ipynb',
 'untitled.txt',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Untitled5.ipynb',
 'Untitled6.ipynb',
 'Working With Data Part 1.ipynb']

In [6]:
os.scandir()

In [11]:
print(os.walk(top='C:\\Users\\meran\\python\\projects',topdown=True, onerror=None, followlinks=False))

<generator object walk at 0x00000206FAC39120>

In [26]:
for root,d_names,f_names in os.walk('C:\\Users\\meran\\python\\projects'):
    #print (root, d_names, f_names)
    for i in f_names:
        if 'error' in i:
            print(root, i)
    #print(f_names)
    #if 'error' in f_names:
        #print(root, d_names, f_names)

C:\Users\meran\python\projects\2020\06\01 2020_06_01_error.csv.txt
C:\Users\meran\python\projects\2020\07\02 2020_07_02_error.csv.txt
C:\Users\meran\python\projects\2020\08\03 2020_08_03_error.csv.txt

In [27]:
pip install keyring

Collecting keyring
  Downloading keyring-21.2.1-py3-none-any.whl (31 kB)
Collecting pywin32-ctypes!=0.1.0,!=0.1.1; sys_platform == "win32"
  Downloading pywin32_ctypes-0.2.0-py2.py3-none-any.whl (28 kB)
Installing collected packages: pywin32-ctypes, keyring
Successfully installed keyring-21.2.1 pywin32-ctypes-0.2.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'C:\Users\meran\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [28]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.30-cp38-cp38-win_amd64.whl (68 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.30
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'C:\Users\meran\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [29]:
pip install passlib

Collecting passlibNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'C:\Users\meran\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

  Downloading passlib-1.7.2-py2.py3-none-any.whl (507 kB)
Installing collected packages: passlib
Successfully installed passlib-1.7.2

In [30]:
pip install simplecrypt

Collecting simplecrypt
  Downloading simplecrypt-0.1.1.tar.gz (1.3 kB)Note: you may need to restart the kernel to use updated packages.

    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\meran\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\meran\\AppData\\Local\\Temp\\pip-install-lpg0y2nb\\simplecrypt\\setup.py'"'"'; __file__='"'"'C:\\Users\\meran\\AppData\\Local\\Temp\\pip-install-lpg0y2nb\\simplecrypt\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\meran\AppData\Local\Temp\pip-record-y49z7fdx\install-record.txt' --single-version-externally-managed --user --prefix= --compile --install-headers 'C:\Users\meran\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\Include\simplecrypt'
         cwd: C:\Users\meran\AppData\Local\Temp\pip-install-lpg0y2nb\simplecrypt\

Installing collected packages: simplecrypt
    Running setup.py install for simplecrypt: started
    Running setup.py install for simplecrypt: finished with status 'error'

    Complete output (14 lines):
    running install
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\meran\AppData\Local\Temp\pip-install-lpg0y2nb\simplecrypt\setup.py", line 32, in <module>
        setup(
      File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.8_3.8.1008.0_x64__qbz5n2kfra8p0\lib\distutils\core.py", line 148, in setup
        dist.run_commands()
      File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.8_3.8.1008.0_x64__qbz5n2kfra8p0\lib\distutils\dist.py", line 966, in run_commands
        self.run_command(cmd)
      File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.8_3.8.1008.0_x64__qbz5n2kfra8p0\lib\distutils\dist.py", line 985, in run_command
        cmd_obj.run()
      File "C:\Users\meran\AppData\Local\Temp\pip-install-lpg0y2nb\simplecrypt\setup.py", line 20, in run
        raise Exception("You probably meant to install and run simple-crypt")
    Exception: You probably meant to install and run simple-crypt
    ----------------------------------------
ERROR: Command errored out with exit status 1: 'C:\Users\meran\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\meran\\AppData\\Local\\Temp\\pip-install-lpg0y2nb\\simplecrypt\\setup.py'"'"'; __file__='"'"'C:\\Users\\meran\\AppData\\Local\\Temp\\pip-install-lpg0y2nb\\simplecrypt\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\meran\AppData\Local\Temp\pip-record-y49z7fdx\install-record.txt' --single-version-externally-managed --user --prefix= --compile --install-headers 'C:\Users\meran\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\Include\simplecrypt' Check the logs for full command output.
WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'C:\Users\meran\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [38]:
import psycopg2
conn = psycopg2.connect(host="localhost",database="postgres", user="postgres", password="ranjeet")
cur = conn.cursor()
cur.execute('select * from psales;')
row = cur.fetchone()
print(row)

(6031374, 'Blurb, Inc.', '0368017486', '0368017486', 9780368017483, 'A Myriad Of Observations', 'Woude, Ryan K. Van Der', 90, 'Trade Cloth/Laminate', 'Standard Color 6 x 9 in or 229 x 152 mm Gray Digital Clothâ?¢ Cover w/Jacket on Standard 70 White w/Gloss Lam', 38.0, 36, 2, 38.0, 76.0, 36.0, 27.36, 24.32, 48.64, -10.3, -20.6, 28.04, 0, 0, 28.04, 2, 38.0, 76.0, 36.0, 27.36, 24.32, 48.64, -10.3, -20.6, 28.04, 0, 0, 28.04, 0, 'AUD', "'CUSTOM", 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 48.64, 28.04, 2, 48.64, 28.04, 'Yes-Destroy', '25-FEB-20', 'Active', None, 'Blurb', None, None, None, None, None, 9780368017483, 0, 0, 0, ' ', 0, 0, 0, ' ', 'LS - Australia', None, 0, 0, 0, 0, '04/03/2020 12:49:59')

In [32]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\meran\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (2.8.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the 'C:\Users\meran\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
df=pd.read_csv('bank.csv')
df

       Date     Name  Amount
0  1/2/2019  Ranjeet       5
1  1/3/2019  Ranjeet       4
2  1/2/2019     Ajay       3
3  2/3/2019  Ranjeet       6
4  2/4/2019     Ajay       3
5  2/5/2019     Ajay       7

In [40]:
df(['Name'], as_index=False)['Amount'].max()

TypeError: 'DataFrame' object is not callable

In [41]:
df[['Name'], as_index=False][df.Amount == df.Amount.max()]

SyntaxError: invalid syntax (<ipython-input-41-3fc49cd2ea6b>, line 1)

In [10]:
df['Name'].value_counts().nlargest(n=1)

Ranjeet    3
Name: Name, dtype: int64

In [46]:
df[df['Amount']==df['Amount'].max()]['Name']

5    Ajay
Name: Name, dtype: object

In [20]:
maxValue = df['Amount'].max()
maxValue

7

In [79]:
df.groupby(['Name'])['Amount'].agg('sum')

Name
Ajay       13
Ranjeet    15
Name: Amount, dtype: int64

In [73]:
import pandas as pd
df=pd.read_csv('bank.csv')
df['Date_Format'] = df['Date'].astype('datetime64[ns]')
df['month_year'] = pd.to_datetime(df['Date_Format']).dt.to_period('M')
dfy=df.groupby(['Name']).sum().sort_values(by=['Amount'], ascending=False).head(1)
print(dfy)
print(dfy.iat[0,0])

         Amount
Name
Ranjeet      15
15

In [74]:
dfy.axes

[Index(['Ranjeet'], dtype='object', name='Name'),
 Index(['Amount'], dtype='object')]

In [82]:
I= [5, 2, 3, 9, 4, 6, 7, 15, 32]
#Output: 15 7 5 3 9 6 2 4 32

In [83]:
I

[5, 2, 3, 9, 4, 6, 7, 15, 32]

In [84]:
def bt(a):

SyntaxError: unexpected EOF while parsing (<ipython-input-84-a6973fd28033>, line 2)

In [90]:
bin(5)[2:].count('1')

2

In [98]:
d={}
for i in I:
    d[i]=bin(i)[2:].count('1')
d

{5: 2, 2: 1, 3: 2, 9: 2, 4: 1, 6: 2, 7: 3, 15: 4, 32: 1}

In [93]:
for w in sorted(d, key=d.get, reverse=True):
    print(w)

15
7
5
3
9
6
2
4
32

In [104]:
d={}
for i in I:
    if bin(i)[2:].count('1') in d:
        d[bin(i)[2:].count('1')].append(i)
    else:    
        d[bin(i)[2:].count('1')]=[i]
d

{2: [5, 3, 9, 6], 1: [2, 4, 32], 3: [7], 4: [15]}

In [105]:
for w in sorted(d, key=d.get, reverse=True):
    print(w)

4
3
2
1

In [130]:
o=[]
for w in sorted(d.items(), reverse=True):
    w[1].sort()
    print(w[1])
    o=o+w[1]
o

[15]
[7]
[3, 5, 6, 9]
[2, 4, 32]

[15, 7, 3, 5, 6, 9, 2, 4, 32]

In [126]:
o=[]
for w in sorted(d.items(), reverse=True):
    w[1].sort()
    x=str(w[1]).strip('[]')
    o.append(x)
o

['15', '7', '3, 5, 6, 9', '2, 4, 32']

In [122]:
mylist = ['spam', 'ham', 'eggs']
print (', '.join(mylist))

spam, ham, eggs

In [128]:
a=[1]
b=[2,3]
a+b

[1, 2, 3]

In [131]:
def bit_sort(I):
    d={}
    for i in I:
        if bin(i)[2:].count('1') in d:
            d[bin(i)[2:].count('1')].append(i)
        else:    
            d[bin(i)[2:].count('1')]=[i]
    o=[]
    for w in sorted(d.items(), reverse=True):
        w[1].sort()
        o=o+w[1]
    return o

In [132]:
bit_sort([5, 2, 3, 9, 4, 6, 7, 15, 32])

[15, 7, 3, 5, 6, 9, 2, 4, 32]

In [133]:
import pandas as pd
df=pd.read_csv('bank.csv')
df

       Date     Name  Amount
0  1/2/2019  Ranjeet       5
1  1/3/2019  Ranjeet       4
2  1/2/2019     Ajay       3
3  2/3/2019  Ranjeet       6
4  2/4/2019     Ajay       3
5  2/5/2019     Ajay       7

In [156]:
df.groupby('Name',as_index=False).sum()

      Name  Amount
0     Ajay      13
1  Ranjeet      15

In [142]:
df.groupby(['Name'])['Amount'].agg('sum')

Name
Ajay       13
Ranjeet    15
Name: Amount, dtype: int64

In [174]:
dfx=df.groupby(['Name']).agg('sum').reset_index().sort_values(by=['Amount'],ascending=False).head(1)

In [175]:
dfx

      Name  Amount
1  Ranjeet      15

In [176]:
blankIndex=[''] * len(dfx)
dfx.index=blankIndex

In [181]:
print(dfx['Name'][0],dfx['Amount'][0])

Ranjeet 15

In [159]:
len(df)

6

In [186]:
t=df.groupby(['Name']).apply(lambda x: x[x['Amount'] == x['Amount'].max()])

In [188]:
t.reset_index()

ValueError: cannot insert Name, already exists

In [199]:
t=df.groupby(['Name'])['Amount'].agg('sum')

In [200]:
t.apply(lambda x: x[x['Amount'] == x['Amount'].max()])

TypeError: 'int' object is not subscriptable

In [221]:
x='This is Catdcdcf'
x.split(' ')
s=0
t=sum(len(i) for i in x.split(' '))/len(x.split(' '))
t

4.666666666666667

In [229]:
l=[1,2,3]
s=0
for i in range(len(l)):
    for j in range(i+1,len(l)+1):
        print(l[i:j])
        s=s+sum(l[i:j])
s

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

20

In [231]:
for i in range(0,3):
    print(i)

0
1
2

In [232]:
for i in range(0, len(l)): 
  
        # Pick ending point 
        temp=0; 
        for j in range(i, len(l)): 
  
            # sum subarray between  
            # current starting and  
            # ending points 
            print(l[j])

1
2
3
2
3
3

In [238]:
l=[1,2,3]
s=0
for i in range(len(l)):
    for j in range(i+1,len(l)+1):
        print(l[i:j])
        #s=s+sum(l[i:j])

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

In [246]:
my_list = [3, 4, 7, 1, 12, 9]
c=0
for i in range(len(my_list)):
        for j in range(i+1,len(my_list)):
            for k in range(j+1,len(my_list)):
                print([my_list[i],my_list[j],my_list[k]])
                c+=1
c

[3, 4, 7]
[3, 4, 1]
[3, 4, 12]
[3, 4, 9]
[3, 7, 1]
[3, 7, 12]
[3, 7, 9]
[3, 1, 12]
[3, 1, 9]
[3, 12, 9]
[4, 7, 1]
[4, 7, 12]
[4, 7, 9]
[4, 1, 12]
[4, 1, 9]
[4, 12, 9]
[7, 1, 12]
[7, 1, 9]
[7, 12, 9]
[1, 12, 9]

20

In [250]:
my_list = [3, 4, 7, 1, 12, 9]
c=0
for i in range(len(my_list)-1):
        for j in range(i+1,len(my_list)):
            #for k in range(j+1,len(my_list)):
            print(my_list[i:j])
            c+=1
c

[3]
[3, 4]
[3, 4, 7]
[3, 4, 7, 1]
[3, 4, 7, 1, 12]
[4]
[4, 7]
[4, 7, 1]
[4, 7, 1, 12]
[7]
[7, 1]
[7, 1, 12]
[1]
[1, 12]
[12]

15

In [252]:
my_list = [3, 4, 7, 1, 12, 9]
c=0
for i in range(len(my_list)):
        for j in range(i+1,len(my_list)+1):
            #for k in range(j+1,len(my_list)):
            print(my_list[i:j])
            c+=1
c

[3]
[3, 4]
[3, 4, 7]
[3, 4, 7, 1]
[3, 4, 7, 1, 12]
[3, 4, 7, 1, 12, 9]
[4]
[4, 7]
[4, 7, 1]
[4, 7, 1, 12]
[4, 7, 1, 12, 9]
[7]
[7, 1]
[7, 1, 12]
[7, 1, 12, 9]
[1]
[1, 12]
[1, 12, 9]
[12]
[12, 9]
[9]

21

In [257]:
l=[1,2,3]
s=0
t=sum([sum(l[i:j])  for i in range(len(l)) for j in range(i+1,len(l)+1)])
t

20