In [1]:
import pandas as pd

In [3]:
d ={'one':[1,1], 'two':[2,2]}
i=['a','b']

df=pd.DataFrame(data=d, index=i)
df

   one  two
a    1    2
b    1    2

In [4]:
df.index

Index(['a', 'b'], dtype='object')

In [6]:
stack=df.stack()
stack

a  one    1
   two    2
b  one    1
   two    2
dtype: int64

In [8]:
stack.index

MultiIndex(levels=[['a', 'b'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [9]:
unstack= df.unstack()
unstack

one  a    1
     b    1
two  a    2
     b    2
dtype: int64

In [10]:
unstack.index

MultiIndex(levels=[['one', 'two'], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [11]:
transpose = df.T
transpose

     a  b
one  1  1
two  2  2

In [14]:
transpose.index

Index(['one', 'two'], dtype='object')

In [15]:
dp

NameError: name 'dp' is not defined