In [1]:
import pandas as pd

In [2]:
dframe =pd.read_csv('test.csv')

In [3]:
dframe

   1  2 python
0  4  5   perl
1  3  4   html

In [5]:
dframe =pd.read_csv('test.csv',header=None)
dframe

   0  1       2
0  1  2  python
1  4  5    perl
2  3  4    html

In [7]:
dframe =pd.read_table('test.csv',sep=',',header=None)
dframe

   0  1       2
0  1  2  python
1  4  5    perl
2  3  4    html

In [9]:
dframe =pd.read_csv('test.csv',header=None,nrows=2)
dframe

   0  1       2
0  1  2  python
1  4  5    perl

In [10]:
dframe.to_csv('test_out.csv')

In [12]:
import sys

In [14]:
dframe.to_csv(sys.stdout,sep='!')

!0!1!2
0!1!2!python
1!4!5!perl

In [16]:
dframe.to_csv(sys.stdout,columns=[0,1])

,0,1
0,1,2
1,4,5

In [17]:
2+2

4